<footer class="site-footer">

  <div class="row row--pad">

    <div class="social-icons">
        <a href="https://www.instagram.com/explore/tags/dan4ruby/" target="_blank"><i class="icon-instagram"></i></a>
      </div>

    <p class="copyright">&copy <a href="https://danaddisoncreative.com">Dan Addison</a> 2019</p>

  </div><!-- row -->

</footer>