<header class="site-header"> 

  <div class="row row--pad">

    <div class="site-branding">
      <a href="/home"><h1>For The Whim</h1></a>
    </div>

    <nav class="main-nav">

      <div class="menu-button">
        <i class="icon-menu"></i>
      </div>

      <ul>
        <li><a href="/home">home</a></li>
        <li><a href="/contact">contact</a></li>
      </ul>

      <div class="social-icons">
        <a href="www.facebook.com/daniel.addison.984" target="_blank"><i class="icon-facebook21"></i></a>
        <a href="https://www.instagram.com/dandevelops" target="_blank"><i class="icon-instagram"></i></a>
      </div>
    </nav>

  </div><!-- row -->

</header>