<header class="site-header"> 

  <div class="row row--pad">

    <div class="site-branding">
      <a href="/home"><h1>Dan & Ruby</h1></a>
    </div>

    <nav class="main-nav">

      <div class="menu-button">
        <i class="icon-menu"></i>
      </div>

      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/rsvp">RSVP</a></li>
        <li><a href="/gallery">gallery</a></li>
      </ul>
      
    </nav>

  </div><!-- row -->

</header>