<header class="site-header"> 

  <div class="row row--pad">

    <div class="site-branding">
      <h1><a href="/home">Ruby & Dan</a></h1>
    </div>

    <nav class="main-nav">

      <div class="menu-button">
        <i class="icon-menu"></i>
      </div>

      <ul>
        <li class="nav-home"><a href="/">home</a></li>
        <li class="nav-rsvp"><a href="/rsvp">RSVP</a></li>
        <li class="nav-gallery"><a href="/gallery">gallery</a></li>
      </ul>
      
    </nav>

  </div><!-- row -->

</header>