<div id="map"></div>

<script>

  var map;
  var options = {
    center: {lat: 51.085779, lng: 1.151251},
    zoom: 15,
    styles: [
    {
      "stylers": [
          {
              "hue": "#007fff"
          },
          {
              "saturation": 89
          }
      ]
    },
    {
        "featureType": "water",
        "stylers": [
            {
                "color": "#1021AA"
            }
        ]
    },
    {
        "featureType": "administrative.country",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#444444"
            }
        ]
    },
    {
        "featureType": "poi.business",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            },
            {
                "hue": "#00ffcc"
            },
            {
                "saturation": "30"
            },
            {
                "lightness": "-20"
            }
        ]
    },
    {
        "featureType": "poi.school",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "poi.sports_complex",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            },
            {
                "hue": "#00ffcc"
            },
                                  {
                "saturation": "10"
            },
            {
                "lightness": "-20"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "hue": "#ffc3b7"
            },
            {
                "saturation": "100"
            }
        ]
    },
    {
        "featureType": "transit.line",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "hue": "#ffc3b7"
            },
            {
                "saturation": "95"
            },
            {
                "lightness": "0"
            },
            {
                "weight": "2.00"
            }
        ]
    },
    {
        "featureType": "transit.station",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "hue": "#ffc3b7"
            },
            {
                "weight": "1.50"
            },
            {
                "saturation": "44"
            }
        ]
    }
  ]
  }

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), options);

    var markers = [
      {
        coordinates: {lat: 51.085597, lng: 1.149856},
        iconImage: 'assets/images/rb-marker.svg',
        content: '<h2>Partaaay!</h2><p>Strange Cargo, The Factory, 43 Geraldine Rd, CT19 4BD</p><img src="assets/images/factory-marker.jpg" alt="">'
      }
    ];

    // loop through markers
    for( var i = 0; i < markers.length;i++){
      addMarker(markers[i])
    };

    function addMarker(props){  
      var marker = new google.maps.Marker({
        map: map,
        position: props.coordinates
      });

      if(props.iconImage){
        marker.setIcon(props.iconImage);
      }

      if(props.content){
        var infoWindow = new google.maps.InfoWindow({
          content: props.content,
          maxWidth: 200
        });
      };
      
      marker.addListener('click', function(){
        infoWindow.open(map, marker)
      });
    }
  }

</script>  

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArXrYXpZTcATfYYasmYdZpu2uCLNioFME&callback=initMap"
async defer></script>