
.accordion {

	.accordion-section {
		border-bottom: 1px solid $color__body-light;
		background-color: transparent;
	}

	.accordion-head {
		position: relative;
    cursor: pointer;

    h3 {
      font-size: 1.5em;
      margin: .5em 2em .5em 0;

      @include mq($bp-m) {
        font-size: 1.75em;
      }
    }
	}

	.accordion-head:after {
		content: '';
		border-top: 10px solid  $color__body-light;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		position: absolute;
		right: 15px;
		top: 40%;
		transition: translate(0, -50%);
		transition: transform .3s ease;
	}

	.accordion-body {
		display: none;
    padding-bottom: 1em;
		padding: 1em $spacing 3em 1em;
		max-width: $bp-l;
		// background-color: #4cd0b6;
    
    @include mq($bp-s) {
      padding-right: 3em;
    }

			
		a:hover .meme {
			filter: invert(100%);
		}

		.image {
			max-width: 300px;
			margin-bottom: $spacing;
		}

		.meme {
			display: inline-block;
			width: 400px;
			max-width: 100%;
			margin: $spacing 0;
			transition: all .2s ease;
		}

		.meme--small {
			margin: 0 0 1em;
			width: 300px;
			max-width: 100%;
		}
		
		.map {
			margin: $spacing 0;
			width: $bp-m;
			max-width: 100%;
			height: 0;
			padding-bottom: 70%;
			overflow: hidden;
			position: relative;
			
			iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			}
		}
	}

	.accordion-body ul {
		margin-top: 13px; 
		padding: 0 0 0 8px;
	}

	.accordion-expanded {

		.accordion-head h3 {
			text-decoration: underline;
		}

		.accordion-head:after {
			transform: rotate(-180deg);
		}
	}

	.accordion-close {
		padding-bottom: 2em;
		text-transform:	uppercase;
		text-decoration: none;
    letter-spacing: 0.1em;
    font-size: .9em;
	}

	.accordion-close:hover {
		text-decoration: underline;
	}
}