.main-nav {
  display: flex; 
  
  ul {
    display: none;
    list-style: none;
    
    li {
      margin: 1em 0;    
      padding: 0 1.25em;
      text-align: center;
    }
    
    a {
      display: inline-block;
      text-align: center;
      font-family: $font__headings;
      font-weight: lighter;
      font-size: 1.5rem;
      text-decoration: none;
      color: $color__body;
      transition: all .2s ease;
      position: relative;
      z-index: 1;
      
      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: -0.25em;
        right: -0.25em;
        background-color: $pink;
        transform-origin: center right;
        transform: scaleX(0);
        transition: transform 0.2s ease-in-out;
      }
      
      &:hover::before {
        transform: scaleX(1);
        transform-origin: center left;
      }

      &:hover,
      &:focus {
        // color: $primary;
      } 
    }

    @include mq($bp-menu) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;

      li:last-of-type a {
        padding-right: 0;
      }
    }
  }

  @include mq($bp-menu) {
    margin-right: -1em;
  }
    
  .menu-button {
    display: flex;
    align-items: center;
    font-size: 1.5em;

    @include mq($bp-s) {
      font-size: 1.75em;
    }

    @include mq($bp-menu) {
      display: none; 
    }

    .icon-menu {
      // font-size: 1.25em;
      cursor: pointer;
    }
  }
}

.main-nav.is-active-menu {

  ul {
    display: block;
    z-index: 100;
    position: absolute;
    top: 70px;
    height: 100vh;
    left: 0;
    right: 0;
    background-color: $color__canvas-light;
    padding-top: $spacing;
    padding-bottom: $spacing;
  }
}

// active page highlighting
body#home .nav-home a,
body#RSVP .nav-rsvp a,
body#gallery .nav-gallery a {
  text-decoration: underline;
  // color: $primary;
}