.contact-form {
  width: 100%;

  input,
  select,
  textarea {
    width: 100%;
    max-width: $bp-s;
    margin: .5rem 0;
  }

  button {

    &:hover,
    &:focus {
      background-color: $dark-green;
      color: $white;
    }
  }


  input[type="radio"] {
    width: 1.5em;
  }
}