.social-icons {
  display: flex;
  
  a {
    padding: 0.5em;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  i {
    color: black;
    font-size: 1em;
    transition: all .2s ease;
    
    &:hover,
    &:focus {
      transform: scale(1.2);
      // text-decoration: none;
    }
  }
}