/*------------------------------------*\
    Sizes
\*------------------------------------*/

$bp-s: 500px;
$bp-m: 700px;
$bp-l: 1000px;
$bp-xl: 1300px;

$bp-menu: $bp-m;

$max-width: $bp-l;
$content-max-width: $bp-m;

// spacing
$spacing: 2em;
$spacing-percent: 3%;		// Used by grid system

/*------------------------------------*\
    Fonts
\*------------------------------------*/
$font__body: 'Open Sans', sans-serif;
$font__headings: 'Neuton', serif;
$font__code: Monaco, Consolas, monospace;
$font__pre: Courier, monospace;

/*------------------------------------*\
    Colours
\*------------------------------------*/

$white: #F8F8F5;
$black: #222;

$pink: #E6C1BA;
$dark-green: #2C5854;
$light-green: #01A587;
$mustard: #A29D00;

$primary: #1021AA;
$secondary: #02BC97;

// Backgrounds
$color__canvas-light: #FFFCE8;
$color__canvas-medium: #c4c2c2;
$color__canvas-dark: $black;


// Text
$color__body: $black;
$color__body-light: #474747;
$color__headings: $black;

// Links
$color__action: $pink;

