{% set body_id = "contact" %}

{% block meta %}
    <title>[page name] - [website name] | [a few words here about this page]</title>
    <meta name="title" content="[page name] - [website name] | [a few words here about this page]">
    <meta name="description" content="[a longer description, not as important as title, but should naturally include some keywords]">
{% endblock %}

{% block og_meta %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://for-the-whim.com/">
    <meta property="og:title" content="[page name] - [website name] | [a few words here about this page]">
    <meta property="og:description" content="[a longer description, not as important as title, but should naturally include some keywords]">
    <meta property="og:image" content="https://for-the-whim.com/assets/images/appropriate-image-maybe-a-screenshot-of-the-page.jpg">
    <meta property="og:image:height" content="800">
    <meta property="og:image:width" content="800">
{% endblock %}

{% block twitter_meta %}
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://for-the-whim.com/">
    <meta property="twitter:title" content="[page name] - [website name] | [a few words here about this page]">
    <meta property="twitter:description" content="[a longer description, not as important as title, but should naturally include some keywords]">
    <meta property="twitter:image" content="https://for-the-whim.com/assets/images/appropriate-image-maybe-a-screenshot-of-the-page.jpg">
{% endblock %}

{% extends "layout.njk" %}

{% block content %}

  <div class="row row--pad">

    <div class="contact">

      <div class="portrait">
        <img src="assets/images/KefAvatarSquare.jpg" alt="">
      </div>

      <form class="contact-form" name="contact" method="POST" netlify-honeypot="bot-field" netlify>
        <p class="hidden">
          <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
        </p>
        <p>
          <label>Your Name: <input type="text" name="name" required/></label>   
        </p>
        <p>
          <label>Your Email: <input type="email" name="email" required/></label>
        </p>
        <p>
          <label>Your fav TV show: <select name="fav[]">
            <option value="wire">The Wire</option>
            <option value="some other bullshit">Some other bullshit</option>
          </select></label>
        </p>
        <p>
          <label>Message: <textarea name="message" rows="10" required></textarea></label>
        </p>
        <div data-netlify-recaptcha></div>
        <p>
          <button type="submit">Send</button>
        </p>
      </form>

    </div><!-- .contact -->

  </div><!-- row -->

{% endblock %}

{% block js %}
<!-- extra scripts for this page only, begin with 'build js' and give filename.min.js for it -->
{% endblock %}