{% set body_id = "gallery" %}

{% extends "layout.njk" %}

{% block content %}

  <div class="row row--pad">

    <div class="gallery">

      <h2>Check back here after the event for all our wedding photos!</h2>
      
    </div>

  </div><!-- row -->

{% endblock %}

{% block js %}
  <!--build:js js/main.min.js -->
  <script src="js/lib/jquery.fancybox.js"></script>
  <script src="js/daFancybox.js"></script>
  <!-- endbuild -->
{% endblock %}