{% set body_id = "home" %}

{% extends "layout.njk" %}

{% block content %}

  <div class="row row--pad">

    <div class="row__colspaced flex-grid">

      <div class="section intro">

        <div class="span4-4 span8-4">
          <div class="image">
            <img src="assets/images/couple.jpg" alt="">
          </div>
        </div><!-- spans -->

        <div class="span4-4 span8-4">
          <div class="copy">
            <h2>Hi friends and family!</h2>
            <p>You’re in the right place for info about our big day, for sending your RSVP, and for seeing all our wedding photos after the event.</p>
            <p>We can't wait to celebrate with you!</p>
          </div>
        </div><!-- spans -->

      </div><!-- section intro -->

      <div class="section venue">

        <div class="span4-4 span8-4">
          <div class="copy">
            <h2>The venue</h2>
            <p>Strange Cargo means a lot to both of us, so we’re thrilled that Brigitte is welcoming us all to celebrate at the Factory building.</p>
            <p>We can't thank her enough for her generosity. Most of you already know and love Strange Cargo, but you can find out more about this awesome community arts charity  <a href="http://www.strangecargo.org.uk/">here ></a></p>
          </div>
        </div><!-- spans -->
        <div class="span4-4 span8-4">
          <div class="image">
            <img src="assets/images/Factory.jpg" alt="">
          </div>
        </div><!-- spans -->

      </div><!-- section venue -->

      <div class="section location">

        <div class="span4-4 span8-4">
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2506.2386281177105!2d1.1476031519935608!3d51.08560347946775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47debf342349ee8d%3A0x4e5bdf893d464c10!2sStrange+Cargo+Arts+Company+Ltd!5e0!3m2!1sen!2suk!4v1552476460107" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div><!-- spans -->

        <div class="span4-4 span8-4">
          <div class="copy">
            <h2>Location</h2>
            <p>There is no parking at the factory - in fact all of the surrounding streets are usually chokka-blok. Let's try not to annoy the neighbours, let's use alternative means of transport.</p>
            <p>For any out of towners (anyone??), Folkestone West is 5 minutes walk away.</p>
          </div>
        </div><!-- spans -->
          
      </div><!-- section location -->

    </div><!-- row__colspaced -->

    <div class="accordian">
      <h2>FAQs</h2>

      <div class="accordian-section">
        <div class="accordian-head">
          <h3>What time is it?</h3>
        </div><!-- /.accordian-head -->							
        <div class="accordian-body">
          <p>We recommend arriving between 12-12:30pm. The ceremony will take place at 1pm.</p>
          <p>There will be food at about 3pm, and partying including Jazz Beams DJs until 11pm.</p>
        </div><!-- /.accordian-body -->
      </div><!-- /.accordian-section -->

      <div class="accordian-section">
        <div class="accordian-head">
          <h3>What's the dress code?</h3>
        </div><!-- /.accordian-head -->							
        <div class="accordian-body">
          <p>Anything you like! Seriously.</p>
          <p>But most people are up for dressing a bit posh at any wedding, so that's your safest bet for fitting in.</p>
        </div><!-- /.accordian-body -->
      </div><!-- /.accordian-section -->

      <div class="accordian-section">
        <div class="accordian-head">
          <h3>What's for tea?</h3>
        </div><!-- /.accordian-head -->							
        <div class="accordian-body">
          <p>There will be a large spread of buffet food, kindly prepared by mad-keen and long-suffering family members. This should satisfy all wonky dietary requirements.</p>
          <p>We will also provide some bubbly, wine, beer and soft drinks.</p>
        </div><!-- /.accordian-body -->
      </div><!-- /.accordian-section -->

      <div class="accordian-section">
        <div class="accordian-head">
          <h3>What shall I bring?</h3>
        </div><!-- /.accordian-head -->							
        <div class="accordian-body">
          <p>Maybe bring a bottle? We suspect your appetites will be far deeper than our pockets!</p>
          <p>Any beverage contribution, however small, would help. White Lightning, J-20... whatever floats your boat.</p>
        </div><!-- /.accordian-body -->
      </div><!-- /.accordian-section -->

      <div class="accordian-section">
        <div class="accordian-head">
          <h3>Am I supposed to give you guys a gift?</h3>
        </div><!-- /.accordian-head -->							
        <div class="accordian-body">
          <p>Nope, definitely not.</p>
          <p>We do however encourage donations to Strange Cargo - you already knew you loved and valued SC, and now more than ever! You'll be able to give a little cash on the day.</p>
        </div><!-- /.accordian-body -->
      </div><!-- /.accordian-section -->

      <div class="accordian-section">
        <div class="accordian-head">
          <h3>Can I bring the kids?</h3>
        </div><!-- /.accordian-head -->							
        <div class="accordian-body">
          <p>Heck yes you can.</p>
          <p>Unless you were looking forward to having a break from them for the day.</p>
        </div><!-- /.accordian-body -->
      </div><!-- /.accordian-section -->

      <div class="accordian-section">
        <div class="accordian-head">
          <h3>Instagram?</h3>
        </div><!-- /.accordian-head -->							
        <div class="accordian-body">
          <p>Yeah, fill your boots - be sure to use <a href="https://www.instagram.com/explore/tags/dan4ruby/" target="_blank">#dan4ruby</a></p>
        </div><!-- /.accordian-body -->
      </div><!-- /.accordian-section -->

      <div class="accordian-section">
        <div class="accordian-head">
          <h3>Okay. How do I save my spot?</h3>
        </div><!-- /.accordian-head -->							
        <div class="accordian-body">
          <div class="answer">
            <div class="meme">
              <img src="assets/images/arnold.jpeg" alt="">
            </div>
            <p><a href="/rsvp">RSVP here ></a></p>
          </div>
        </div><!-- /.accordian-body -->
      </div><!-- /.accordian-section -->

    </div><!-- accordian -->

  </div><!-- row -->

{% endblock %}

{% block js %}
<!-- extra scripts for this page only, begin with 'build js' and give filename.min.js for it -->
{% endblock %}