{% set body_id = "home" %}

{% extends "layout.njk" %}

{% block content %}

  <div class="row row--pad">

    <div class="section intro">

      {# <div class="image">
        <img src="assets/images/kew-two-filter.jpg" alt="">
      </div> #}


      <div class="flip-card">

        <div class="flip-card-inner">

          <div class="flip-card-front">
            <img src="assets/images/kew-two-filter.jpg" alt="Dan and Ruby at Kew Gardens 2018">
          </div>

          <div class="flip-card-back">
            <img src="assets/images/ring.jpg" alt="Dan and Ruby with rose bushes 2019">
          </div>

        </div><!-- .flip-card-inner -->

      </div><!-- .flip-card-->



      <div class="copy">
        <h2>Hiyaaaa!!</h2>
        <p>You’re in the right place for info about our big day, for sending your RSVP, and for seeing all our wedding photos after the event.</p>
        <p>We can't wait to celebrate with you - expect something fittingly fun and colourful on the day!</p>
      </div>

    </div><!-- section intro -->


    <div class="accordion">

      <div class="accordion-section">
        <div class="accordion-head">
          <h3>Where is it?</h3>
        </div><!-- /.accordion-head -->							
        <div class="accordion-body">
          <p>The Factory!</p>
          <div class="image">
            <img src="assets/images/Factory-filter.jpg" alt="">
          </div>
          <p><a href="http://www.strangecargo.org.uk/">Strange Cargo</a> means a lot to both of us, so we’re thrilled to bits to be saying our vows there. We can't thank Brigitte enough for giving us free rein.</p>
        </div><!-- /.accordion-body -->
      </div><!-- /.accordion-section -->

      <div class="accordion-section">
        <div class="accordion-head">
          <h3>How shall I get there?</h3>
        </div><!-- /.accordion-head -->							
        <div class="accordion-body accordion-body--map">
          <p>There is no parking at the factory, and the surrounding streets are usually chock-a-block.</p>
          <p>Almost all of us are local so can easily plan alternative transport - for any out-of-towners, Folkestone West station is 5 minutes walk away.</p>

          {% include "partials/map.njk" %}

        </div><!-- /.accordion-body -->
      </div><!-- /.accordion-section -->

      <div class="accordion-section">
        <div class="accordion-head">
          <h3>What time is it?</h3>
        </div><!-- /.accordion-head -->							
        <div class="accordion-body">
          <div class="meme meme--small">
            <img src="assets/images/soon.jpg" alt="">
          </div>
          <p>Details to be confirmed nearer the time, but we think it'll go a little something like this:</p>
          <ul>
            <li>Arrive between 12-12:30pm</li>
            <li>The ceremony will take place at 1pm</li>
            <li>There will be food from about 3pm</li>
            <li>Partying will go on until 11pm</li>
          </ul>
        </div><!-- /.accordion-body -->
      </div><!-- /.accordion-section -->

      <div class="accordion-section">
        <div class="accordion-head">
          <h3>What's the dress code?</h3>
        </div><!-- /.accordion-head -->							
        <div class="accordion-body">
          <p>Anything you like. Seriously.</p>
          <div class="meme meme--small">
            <img src="assets/images/dresscode.jpg" alt="">
          </div>
          <p>Most people are up for dressing a bit posh at any wedding though, so that's a safe bet. We've got a fancy photographer, after all.</p>
        </div><!-- /.accordion-body -->
      </div><!-- /.accordion-section -->

      <div class="accordion-section">
        <div class="accordion-head">
          <h3>What's for tea?</h3>
        </div><!-- /.accordion-head -->							
        <div class="accordion-body">
          <p>There will be a large spread of buffet food, to satisfy all dietary requirements.</p>
          <div class="meme meme--small">
            <img src="assets/images/buffetBean.jpeg" alt="">
          </div>
          <p>We will also provide some bubbly, wine, beer and soft drinks.</p>
        </div><!-- /.accordion-body -->
      </div><!-- /.accordion-section -->

      <div class="accordion-section">
        <div class="accordion-head">
          <h3>What shall I bring?</h3>
        </div><!-- /.accordion-head -->							
        <div class="accordion-body">
          <p>A bottle!</p>
          <p>We suspect your appetites will be deeper than our pockets, so any beverage contribution, however small, would help.</p>
          <p> White Lightning, J20....</p>
          <div class="meme meme--small">
            <img src="assets/images/brando.gif" alt="">
          </div>
          <p>...we won't judge.</p>
        </div><!-- /.accordion-body -->
      </div><!-- /.accordion-section -->

      <div class="accordion-section">
        <div class="accordion-head">
          <h3>Am I supposed to give you guys a gift?</h3>
        </div><!-- /.accordion-head -->							
        <div class="accordion-body">
          <p>Nah.</p>
          <div class="meme meme--small">
            <img src="assets/images/nothanks.jpeg" alt="">
          </div>
          <p>We do however encourage donations to Strange Cargo. We'll set up a collections box on the day, to thank them for their hospitality and help them to keep up the good community work.</p>
        </div><!-- /.accordion-body -->
      </div><!-- /.accordion-section -->

      <div class="accordion-section">
        <div class="accordion-head">
          <h3>Can I bring the kids?</h3>
        </div><!-- /.accordion-head -->							
        <div class="accordion-body">
          <p>Absolutely.</p>
          <p>Unless you were looking forward to having a break from them for the day!</p>
           <div class="meme meme--small">
            <img src="assets/images/parent.jpg" alt="">
          </div>
        </div><!-- /.accordion-body -->
      </div><!-- /.accordion-section -->

      <div class="accordion-section">
        <div class="accordion-head">
          <h3>Instagram?</h3>
        </div><!-- /.accordion-head -->							
        <div class="accordion-body">
          <p><a href="https://www.instagram.com/explore/tags/dan4ruby/" target="_blank">#dan4ruby</a></p>
          <div class="meme meme--small">
              <img src="assets/images/insta.jpg" alt="">
            </div>
        </div><!-- /.accordion-body -->
      </div><!-- /.accordion-section -->

      <div class="accordion-section">
        <div class="accordion-head">
          <h3>Okay. How do I save my spot?</h3>
        </div><!-- /.accordion-head -->							
        <div class="accordion-body">
  
            <a href="/rsvp" class="meme-link">
              <div class="meme">
                <img src="assets/images/arnold.jpeg" alt="">
              </div>
              <p><a href="/rsvp">Go to form ></a></p>
            </a>

        </div><!-- /.accordion-body -->
      </div><!-- /.accordion-section -->

    </div><!-- accordion -->

  </div><!-- row -->

{% endblock %}

{% block js %}{% endblock %}