#home {

  @include mq($bp-m) {
      
    .hero {
      height: calc( 100vh - 100px);
    }
    
    .site-header {
      margin-top: calc( 100vh - 90px);
    }
  }
}

.section {
  margin: $spacing 0 $spacing*3;
  text-align: center;

  p {
    font-size: 1.25em;
  }
}

.accordion-body {

  @include mq($bp-m) {
    font-size: 1.1em;
  }
}