#home {

  .hero {
    height: calc( 100vh - 120px);
  }
  
  .site-header {
    margin-top: calc( 100vh - 120px);
  }
}

.section {
  margin-bottom: $spacing*2;
  padding: $spacing*2 0;
  border-top: 1px solid $color__canvas-medium;

  .image,
  .map {
    margin: $spacing 0;
    width: 100%;
    height: 0;
    padding-bottom: 80%;
    overflow: hidden;
  }

  .map {
    position: relative;
    
    iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    }
  }

  h2 {
    font-weight: bold;
    font-size: 2em;
    color: $dark-green;
  } 

  @include mq($bp-m) {

    .image,
    .map {
      margin: 0;
    }
  }
}