.rsvp {
  @extend %cf;
  margin-top: $spacing;
  
  h1 {
    font-size: 2em;
    margin-bottom: $spacing;
  }

  .rsvp__item {
    margin-bottom: $spacing*2;

    .rsvp__item-number {
      font-size: 1.75em;
      margin-right: $spacing/2;
    }

    .meme {
      width: 250px;
      max-width: 100%;
      margin-bottom: $spacing;
    }
  }

  a.typeform-share.button {
    border-radius: 4px !important;
    font-family: $font__body !important;

    &:hover,
    &:focus {
      color: $pink !important;
    }
  }

  @include mq($bp-m) {
    
    h1 {
      font-size: 2.5em;
    }
  }

  @include mq($bp-l) {
    margin-top: $spacing*2;
  }
}


