.rsvp {
  @extend %cf;
  margin-top: $spacing;
  
  h1 {
    font-size: 2em;
    margin-bottom: $spacing;
  }

  .rsvp__item {
    margin-bottom: $spacing*2;

    .rsvp__item-number {
      font-size: 1.75em;
      margin-right: $spacing/2;
    }
  }

  a.typeform-share.button {

  }

  @include mq($bp-m) {
    
    h1 {
      font-size: 2.5em;
    }
  }

  @include mq($bp-l) {
    margin-top: $spacing*2;
  }
}


