// body {
//   position: relative;
// }

html {
  background-color: $color__canvas-light;
}

.page {
  min-height: 30vh;
  background-color: $secondary;
  position: relative;

  .bg-skew {
    position: absolute;
    background-image: url(/assets/images/angled-header.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    height: 23vw; // related to ratio between height and width of the svg
    width: 100vw;
  }

  .row {
    max-width: $content-max-width;
  }
}
