.site-footer {
  text-align: center;
  background-color: $secondary;

  .row {
    padding: $spacing*2 $spacing;
  }

  p {
    color: $color__canvas-light;
    margin: 0;
  }

  a {
    color: $color__canvas-light;
    text-decoration: none;
    transition: all .2s ease;
  }

  @include mq($bp-m) {

    .row {
      display: flex;
      justify-content: space-between;
      padding: $spacing*3 $spacing;
    }
  }


  .social-icons {
    margin-bottom: $spacing;

    @include mq($bp-m) {
      margin-bottom: 0;
    }
    
    a {
      padding: 0.5em 0;

      span {

        position: relative;
        z-index: 1;
        
        &::before {
          content: '';
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          left: -0.25em;
          right: -0.25em;
          background-color: $pink;
          transform-origin: center right;
          transform: scaleX(0);
          transition: transform 0.2s ease-in-out;
        }
        
          &:hover::before {
            transform: scaleX(1);
            transform-origin: center left;
          }
        }
  
    }
    
    i {
      font-size: 1.25em;
      padding-right: .25em;
      color: $color__canvas-light;
      transition: all .2s ease;
    }
  }

  .copyright {

    a {
      border-radius: 2px;
      text-decoration: underline;
      position: relative;
      z-index: 1;
      
      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: -0.25em;
        right: -0.25em;
        background-color: $pink;
        transform-origin: center right;
        transform: scaleX(0);
        transition: transform 0.2s ease-in-out;
      }
      
      &:hover::before {
        transform: scaleX(1);
        transform-origin: center left;
      }
    }

  }
}
