.site-footer {
  text-align: center;
  background-color: $pink;

  p {
    margin: 0;
  }

  @include mq($bp-m) {

    .row {
      display: flex;
      justify-content: space-between;
      padding: $spacing*3 $spacing;
    }
  }


  .social-icons {
    display: flex;
    
    a {
      color: $dark-green;
      padding: 0.5em;
      transition: all .2s ease;
    
      &:hover {
        text-decoration: none;
        color: $mustard;

        i {
          color: $mustard;
        }
      }
    }
    
    i {
      font-size: 1.25em;
      padding-right: .5em;
      color: $dark-green;
      transition: all .2s ease;
    }
  }

  .copyright {
    display: block;

    a {
      text-decoration: underline;
      padding: 0.5em;
      border-radius: 2px;
      color: $dark-green;

      &:hover {
        text-decoration: none;
        color: $mustard;
      }
    }

  }
}
